*{
    padding: 0;
    margin: 0;
}


.listheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 45px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.gamelab{
    height: 40px;
    margin-left: 20px;
}
.imgdegaming{
    width: 100%;
}


.hero {
    background-position: center;
        background-image:url(https://i.etsystatic.com/12938651/r/il/195cb9/3527678124/il_1588xN.3527678124_nb5q.jpg)
;   width: 100%;
height: 600px;
background-size: cover;
background-repeat: no-repeat;
object-fit: scale-down;
display: flex;
justify-content: center;
align-items: center;



}
.titresection{
    color:#ff364f;
    text-shadow: white 3px 3px 0px;
}
.textimg{
    color: beige;
    font-size: 60PX;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  backdrop-filter: blur(5px);
  object-fit: scale-down;  
}

.boutonhero{
    font-size: 30px;
    background-color: #01aef2;
    border-radius: 100px;
    color: white;
    text-decoration-line: none;
    width: 475px;
    align-items: center;
    justify-content: center;
    padding: 4px 25px;
    
}

#beneficesClients{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Rubik Pixels", system-ui;
  font-weight: 900;
  font-style: normal;
  padding:  30px;
  margin: 5px;
}


.carte {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
    ;background-image:url( https://cdn.glitch.global/34823477-3d93-4a38-aaf6-ceb2b1fd2fa9/ef88dadca13badf9418b26b15aaa431a.jpg?v=1683014991626);
}
.textecarte{
    text-align: center;
}

  .type{
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  width: 100%;
  }
  
.desc-carte{
    width: 100%;
    height: 100%;
    margin: auto;
}

.carte2 {
    width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
    ;background-image:url( https://cdn.glitch.global/34823477-3d93-4a38-aaf6-ceb2b1fd2fa9/ef88dadca13badf9418b26b15aaa431a.jpg?v=1683014991626);
}

  .type2{
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  width: 100%;
  text-align: center;
  }
  
.desc-carte2{
    width: 100%;
    height: 100%;
    margin: auto;
}